packages:
    yum:
        gcc-c++: []
        mod24_ssl: []

Resources:
    AWSEBAutoScalingGroup:
        Metadata:
            AWS::CloudFormation::Authentication:
                S3Auth:
                    type: "s3"
                    buckets: ["elasticbeanstalk-us-west-2-235618738892"]
                    roleName:
                        "Fn::GetOptionSetting":
                            Namespace: "aws:autoscaling:launchconfiguration"
                            OptionName: "IamInstanceProfile"
                            DefaultValue: "aws-elasticbeanstalk-ec2-role"

files:
    "/etc/httpd/conf.d/wsgi_custom.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            WSGIApplicationGroup %{GLOBAL}

    /etc/httpd/conf.d/ssl.conf:
        mode: "000644"
        owner: root
        group: root
        content: |
            LoadModule wsgi_module modules/mod_wsgi.so
            WSGIPythonHome /opt/python/run/baselinenv
            WSGISocketPrefix run/wsgi
            WSGIRestrictEmbedded On
            Listen 443
            <VirtualHost *:443>
                SSLEngine on
                SSLCertificateFile "/etc/pki/tls/certs/server.crt"
                SSLCertificateKeyFile "/etc/pki/tls/certs/server.key"

                Alias /static/ /opt/python/current/app/static/
                <Directory /opt/python/current/app/static>
                Order allow,deny
                Allow from all
                </Directory>

                WSGIScriptAlias / /opt/python/current/app/application.py

                <Directory /opt/python/current/app>
                Require all granted
                </Directory>

                WSGIDaemonProcess wsgi-ssl processes=1 threads=15 display-name=%{GROUP} \
                    python-home=/opt/python/run/venv \
                    python-path=/opt/python/current/app \
                    home=/opt/python/current/app \
                    user=wsgi \
                    group=wsgi
                WSGIProcessGroup wsgi-ssl

            </VirtualHost>

    /etc/pki/tls/certs/server.crt:
        mode: "000400"
        owner: root
        group: root
        content: |
            -----BEGIN CERTIFICATE-----
            MIIDsDCCApgCCQDB/k08GOKcnzANBgkqhkiG9w0BAQUFADCBmTELMAkGA1UEBhMC
            VVMxFjAUBgNVBAgTDU1hc3NhY2h1c2V0dHMxDzANBgNVBAcTBkJvc3RvbjEYMBYG
            A1UEChMPQmVhZ2xlIExlYXJuaW5nMR0wGwYDVQQDFBQqLmJlYWdsZWxlYXJuaW5n
            LmNvbTEoMCYGCSqGSIb3DQEJARYZdHVybmVyQGJlYWdsZWxlYXJuaW5nLmNvbTAe
            Fw0xODEyMjYyMzQwMTVaFw0yODEyMjMyMzQwMTVaMIGZMQswCQYDVQQGEwJVUzEW
            MBQGA1UECBMNTWFzc2FjaHVzZXR0czEPMA0GA1UEBxMGQm9zdG9uMRgwFgYDVQQK
            Ew9CZWFnbGUgTGVhcm5pbmcxHTAbBgNVBAMUFCouYmVhZ2xlbGVhcm5pbmcuY29t
            MSgwJgYJKoZIhvcNAQkBFhl0dXJuZXJAYmVhZ2xlbGVhcm5pbmcuY29tMIIBIjAN
            BgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA5aVdPsaDCpeHA64iuVXLM9A3Pvh7
            MU9Z4TxVojT4196N4RWnqWgTfk1vDK0H5SgatTOgbF/LFPoUyxrWDNSgdksuv/n7
            /XbC3TVHJro9Sfu+IPYynHmswa3mZtAOQ3SNLOrgQbYjEb3JEuntHbB4cCNSdxFd
            u3ScY+3Oxxh0ItaHhXMLBfv2xPit70Uo+sm2HmOWwcVn+N5IdqDJCc9/ebd29nmc
            k/R/CGHHhpz687RZUdg06kpzEvK1ok0XlL/BnGZ80+KwAeEgH1Arc1wgOd2hiarO
            pPHoTpNdv9xKnkxQX1IM9uTf+/1uVwybad6MBptPRWcMDBHQGtScSv3spwIDAQAB
            MA0GCSqGSIb3DQEBBQUAA4IBAQCILteIqvdOV4NbZFnMYYFxsfWWcH8qI1obhPGB
            aClXg++c9L0vaQFfBHD8mtZlw41pMKkp9Exq34TWLwBsmeoAVfHATBj6/gq21fsg
            6ZQowJ40skBKWqE1ajm8TuYP3Z30zgsrV4KS0omXTz8kNUOZqgDxMbwyX/QOZ0kZ
            xmJC368VoSJMfO3ZA78cv66UVqSL6ENlsOlYsPKuVPs9e5mXP2+ici1rgd85mpZJ
            TP+QYq0AIUb5fdLadC5HT82QTyXAaOLuQCTmhR2eCh4XUmvDEK14faswjajNDsde
            +2L4uhdGNlkelAj23ngucx17ML1piUYhCFoBxJoGGAqKht5G
            -----END CERTIFICATE-----

    /etc/pki/tls/certs/server.key:
        mode: "000400"
        owner: root
        group: root
        authentication: "S3Auth"
        source: https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-235618738892/awsInternalPrivateKey.pem


container_commands:
    01killhttpd:
        command: "killall httpd"
    02waitforhttpddeath:
        command: "sleep 3"
